.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/banner5.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  font-style: italic;
  margin: 233px auto 0 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  background-image: none;
  margin: 39px auto 60px 255px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 264px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 202px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 152px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 146px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 96px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 92px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 959px;
}

.u-section-2 .u-image-1 {
  height: 613px;
  object-position: 50% 19.23%;
  background-position: 50% 19.23%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 376px;
  margin: -197px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 88px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 7px 13px 0 0;
}

.u-section-2 .u-text-2 {
  width: 460px;
  letter-spacing: normal;
  font-weight: normal;
  margin: 63px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-2 .u-image-1 {
    height: 556px;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-2 .u-group-1 {
    width: 615px;
    margin-top: -120px;
    margin-bottom: 40px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-2 .u-image-1 {
    height: 439px;
    margin-top: 1px;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 458px;
    min-height: 359px;
    margin-top: -82px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 418px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-2 .u-image-1 {
    height: 394px;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 282px;
    min-height: 389px;
    margin-top: -88px;
  }

  .u-section-2 .u-text-2 {
    width: 242px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 648px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 62px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  width: 152px;
  height: 152px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 26px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 37px auto 0 19px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 24px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 39px 0 0 13px;
}

.u-section-3 .u-icon-2 {
  width: 129px;
  height: 129px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 60px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 17px;
}

.u-section-3 .u-icon-3 {
  width: 142px;
  height: 142px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 26px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 63px 13px 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 37px 0 0;
}

.u-section-3 .u-icon-4 {
  width: 132px;
  height: 132px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 58px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}